
Chicago AoT Monthly Aggregates\.csv

\.ipynb_checkpoints/AoT Data Cleaning-checkpoint\.ipynb

\.~ELPC_Exploration__7354\.twbr

measurements\.tsv

\.ipynb_checkpoints/Combining Datasets-checkpoint\.ipynb

\.ipynb_checkpoints/ELPC Raw Data Exploration-checkpoint\.ipynb

\.DS_Store

\.~ELPC_Exploration__31577\.twbr

combined_dataset/

ELPC_sample_zip/

dataset_clean\.csv

\.ipynb_checkpoints/XGBoost Test-checkpoint\.ipynb
