.search {
    padding-top: 5px;
}

#map {
    height: 100%;
}

.scrollable{
  overflow-y: auto;
  max-height: 450px;
}

.card{
    width:100%;
}

.score{
    text-align: center;
}

 input {
   width: 50%;
 }

.note{
    font-size:12px;
}