<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chicago Air Quality Index</title>
    <script src="{{ url_for('static', filename='./d3/d3.min.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
        <a class="navbar-brand" href="#">Chicago Air Quality Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}" tabindex="1">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}" tabindex="2">About the Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('paper')}}" tabindex="3">Read the Paper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('poster')}}" tabindex="4">View the Poster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('team')}}" tabindex="5">The Team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://www.omscs.gatech.edu/" target="_blank">Masters in
                            Analytics</a>
                        <a class="dropdown-item" href="https://pe.gatech.edu/degrees/analytics" target="_blank">Masters
                            in Computer Science</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://arrayofthings.github.io/" target="_blank">Array of
                            Things</a>
                        <a class="dropdown-item" href="http://elpc.org/issues/clean-air/air-quality-monitoring/"
                           target="_blank">ELPC</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.who.int/airpollution/en/" target="_blank">World
                            Health Organization (WHO)</a>
                        <a class="dropdown-item" href="https://19january2017snapshot.epa.gov/" target="_blank">EPA (2017
                            Archive)</a>
                        <a class="dropdown-item" href="https://www.epa.gov/" target="_blank">EPA.gov</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block content%}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<script>
    let width = 100;
    let height = 350;

    var svg = d3.select("#summaryChart").append("svg")
        .attr("width", "100%")
        .attr("height", height);

    promises = [
        d3.csv("{{ url_for('static', filename='aqg.csv') }}")
    ];

    Promise.all(promises).then(function (data) {

        let limits = data[0];

        limits.forEach(function (d) {
            d.mortality = +d.mortality;
            d.value = +d.value;
        });

        let pm25Scale = d3.scaleLinear()
            .domain([0, 20])
            .range([0, width]);

        let pm10Scale = d3.scaleLinear()
            .domain([0, 40])
            .range([0, width]);

        let ozoneScale = d3.scaleLinear()
            .domain([0, 200])
            .range([0, width]);

        let sulfurScale = d3.scaleLinear()
            .domain([0, 40])
            .range([0, width]);

        let nitrogenScale = d3.scaleLinear()
            .domain([0, 80])
            .range([0, width]);

        svg.selectAll("rect")
            .data(limits.filter(d => d.AQG == 'PM 2.5'))
            .enter()
            .append("rect")
            .attr("x", d => pm25Scale(d.value))
            .attr("y", 0)
            .attr("height", 10)
            .attr("width", 10)
            .attr("fill", "steelblue");

    });
</script>

</html>