{% extends "base.html" %}
{% block content %}

<div class="container">
        <div class="col-auto">
            <div class="form-group">
                <form method="post">
                    {{ form.hidden_tag() }}
                    {{ form.address.label }} {{ form.address() }}
                    <button class="btn btn-default">
                        <img src="{{ url_for('static', filename='./images/search_icon.png') }}" width="35"/>
                    </button>
                </form>
                <sub>(examples: 1060 W Addison St, Daley Plaza, 60612)</sub>
            </div>
        </div>
</div>
<div class="container search">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='./images/chi_flag.png')}}"
                         alt="Location Info">
                    <div class="card-body">
                        <p>Location:<br> {{ address }}</p>
                        <p>Senators: <br>
                            <a href="{{ senator1[1] }}" target="_blank">
                                {{ senator1[0] }}
                            </a><br>
                            <a href="{{ senator2[1] }}" target="_blank">
                                {{ senator2[0]}}
                            </a>
                        </p>
                        <p>
                            House Rep: <br>
                            <a href="{{ house_rep[1]}}" target="_blank">
                                {{ house_rep[0] }}
                            </a>
                        </p>
                        <p>
                            State Senator: <br>
                            <a href="{{ state_senator[1] }}" target="_blank">
                                {{ state_senator[0]}}
                            </a>
                        </p>
                        <p>State Rep: <br>
                            <a href="{{ state_rep[1] }}" target="_blank">
                                {{ state_rep[0] }}
                            </a>
                        </p>
                        <p>City Alderman:<br>
                            <a href="{{ alderman[1] }}" target="_blank">
                                {{ alderman[0] }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 map">
            <div id="map"></div>
            <script>
                function initMap() {
                    let map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: {{ lat }}, lng: {{ long }} },
                        zoom: 17
                    });

                    var heatmap_data = [
                        ];

                    var marker = new google.maps.Marker({
                        position: {lat: {{ lat }}, lng: {{ long }} }
                    });
                    
                    var heatmap = new google.maps.visualization.HeatmapLayer({
                        data: heatmap_data
                    });

                    heatmap.setMap(map);
                    heatmap.set('radius', 10);
                    marker.setMap(map);
                  }

                function getPoints(){
                    return
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&libraries=visualization"
                    async defer></script>
        </div>
        <div class="col-4">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne" style="background-color: #FFFFFF;">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#scoreSummary"
                                    aria-expanded="true" aria-controls="scoreSummary">
                                Stats for Zip Code {{ zipcode }}
                            </button>
                        </h5>
                    </div>

                    <div id="scoreSummary" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body scrollable">
                            <div class="display-3 score">
                            {{ location_score }}
                                <div class="note">This score represents the average quality of air based on World Health Organization guidelines.</div>
                            </div>
                            <div class="card-body scrollable">
                                <div id="summaryChart" ></div>
                                <div class="note">{{ summaryNote }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" style="background-color: #FFFFFF;">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#healthSummary"
                                    aria-expanded="false" aria-controls="healthSummary">
                                Health Records
                            </button>
                        </h5>
                    </div>
                    <div id="healthSummary" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body scrollable">
                            <div class="note">These are the number of respiratory related illnesses reported in your zip code.</div>
                            <div id="healthChart"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree" style="background-color: #FFFFFF;">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#chicagoIndex"
                                    aria-expanded="false" aria-controls="chicagoIndex">
                                Chicago Index
                            </button>
                        </h5>
                    </div>
                    <div id="chicagoIndex" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body scrollable">
                            {{ summary }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}